version: "3.9"

services:
  app1:
    build:
      context: ./web
    container_name: app1
    hostname: app1
    restart: on-failure
    depends_on:
      - redis
    networks:
      - backend

  app2:
    build:
      context: ./web
    container_name: app2
    hostname: app2
    restart: on-failure
    depends_on:
      - redis
    networks:
      - backend

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    volumes:
      - redis-data:/data
    networks:
      - backend

  nginx:
    build:
      context: ./nginx
    container_name: nginx
    hostname: nginx
    depends_on:
      - app1
      - app2
    ports:
      - "80:80"
    networks:
      - backend

volumes:
  redis-data:

networks:
  backend:
